<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canva Design Search Results</title>
  <script type="module" crossorigin src="/canva-search-designs.js"></script>
  <link rel="modulepreload" crossorigin href="/index-BwUqIDE5.js">
  <link rel="modulepreload" crossorigin href="/utils-CH36t-Bq.js">
  <link rel="modulepreload" crossorigin href="/canva-search-designs-uPBdjGGb.js">
  <link rel="stylesheet" crossorigin href="/index-BG-ve1gJ.css">
</head>
<body>
  <div id="root"></div>
</body>
</html>









